<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Kalli's Personal Site</title>
    <link rel="stylesheet" href="">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="" alt="kalli profile picture"></td>
        <td><h1>Abdulrahman Kalli Mustapha</h1>
        <p>I am a python Developer. I ❤️ coffee and Tea but Bread is Bae</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Books and Learning</h3>
    <ul>
      <li>The 100 Days of Python Bootcamp</li>
      <li>The Complete Web Development Bootcamp</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023-2024</td>
          <td>Researcher at Alqalam University Computer Lab</td>
        </tr>
        <tr>
          <td>2024-2025</td>
          <td>Lead Developer at NEXYYY</td>
        </tr>
        <tr>
          <td>2025</td>
          <td>Backend Software Engineer at Bengix</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Pyhton Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Backend Web Development</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>⭐️⭐️️⭐️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="">My Hobbies</a>
    <a href="">Contact Me</a>


</body></html>